{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reservation.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Rezerwuj swój pobyt" %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name_surname">{% trans "Imię i nazwisko" %}:</label>
        <input type="text" name="name_surname" value="{{ form.name_surname.value|default:'' }}" required />
        {% if form.name_surname.errors %}
        <div class="error">
            {{ form.name_surname.errors.0 }}
        </div>
        {% endif %}

        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ form.email.value|default:'' }}" required />
        {% if form.email.errors %}
        <div class="error">
            {{ form.email.errors.0 }}
        </div>
        {% endif %}

        <label for="arrival_date">{% trans "Data przyjazdu" %}:</label>
        <input type="date" name="arrival_date" value="{{ form.arrival_date.value|default:'' }}" required />
        {% if form.arrival_date.errors %}
        <div class="error">
            {{ form.arrival_date.errors.0 }}
        </div>
        {% endif %}

        <label for="departure_date">{% trans "Data wyjazdu" %}:</label>
        <input type="date" name="departure_date" value="{{ form.departure_date.value|default:'' }}" required />
        {% if form.departure_date.errors %}
        <div class="error">
            {{ form.departure_date.errors.0 }}
        </div>
        {% endif %}

        <label for="room_type">{% trans "Rodzaj pokoju" %}:</label>
        <select name="room_type">
            <option value="standard">{% trans "Pokój Standardowy" %}</option>
            <option value="deluxe">{% trans "Pokój Deluxe" %}</option>
            <option value="suite">{% trans "Apartament" %}</option>
            <option value="penthouse">Penthouse</option>
        </select>
        {% if form.room_type.errors %}
        <div class="error">
            {{ form.room_type.errors.0 }}
        </div>
        {% endif %}

        <label for="additional_wishes">{% trans "Dodatkowe życzenia" %}:</label>
        <textarea name="additional_wishes" rows="10">{{ form.additional_wishes.value|default:'' }}</textarea>
        {% if form.additional_wishes.errors %}
        <div class="error">
            {{ form.additional_wishes.errors.0 }}
        </div>
        {% endif %}

        <button type="submit">{% trans "Przejdź do płatności - w budowie" %}</button>
    </form>
    {% if messages %}
    {% for message in messages %}
    <p class="success">{{ message }}</p>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}