{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="contact-container">
        <h2>Skontaktuj się z nami</h2>
        <p>Masz pytanie? Napisz do nas – odpowiemy tak szybko, jak to możliwe!</p>

        <div class="contact-content">
            <form class="contact-form" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Twoje imię" required>
                <input type="email" name="email" placeholder="Twój e-mail" required>
                <textarea name="message" rows="15" placeholder="Wiadomość" required></textarea>
                <button type="submit" class="btn">Wyślij</button>
            </form>

            <div class="contact-info">
                <h3>Dane kontaktowe</h3>
                <p><strong>Adres:</strong> ul. Spacerowa 12, 38-610 Polańczyk</p>
                <p><strong>Telefon:</strong> +48 123 456 789</p>
                <p><strong>Email:</strong> kontakt@industrialillusion.pl</p>
            </div>
        </div>

        {% if messages %}
        {% for message in messages %}
        <p class="success">{{ message }}</p>
        {% endfor %}
        {% endif %}

    </div>
</section>


{% endblock %}